<div class="ui internally celled padded grid">
  <div class="center aligned sixteen wide column">
    <h2 class="ui header">
      Room type
    </h2>
  </div>
  <div class="sixteen wide column">
    <div class="ui four cards">
      <app-room-card [room]="room" *ngFor="let room of basketService.rooms$ | async" (book)="booking(room)"></app-room-card>
    </div>
  </div>
</div>