<div class="ui one column padded grid centered">
  <div class="column">
    <div class="ui segment very padded">
      <a class="ui right corner olive label">
        <i class="pencil icon" (click)="stepService.setStep(1)"></i>
      </a>
      <div class="ui statistic">
        <div class="value">
          {{ basketService.departure$ | async | date }}
        </div>
        <div class="label">
          Departure
        </div>
      </div>
      <div class="ui right floated statistic">
        <div class="value">
          {{ basketService.arrival$ | async | date }}
        </div>
        <div class="label">
          Arrival
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui three column padded grid centered">
  <div class="column">
    <!--<div class="ui divider"></div>-->
    <table class="ui celled striped table" *ngIf="rooms && (rooms | purchasedRooms).length > 0">
      <thead>
        <tr>
          <th colspan="4">
            Rooms
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let room of rooms | purchasedRooms">
          <td>{{ room.name }}</td>
          <td class="center aligned">x{{ room.purchased }}</td>
          <td>{{ room.price }}€</td>
          <td class="collapsing">
            <button (click)="removeRoom(room)" class="ui icon negative button"><i class="trash icon"></i></button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th>Total</th>
          <th>{{ calculateTotal() }}€</th>
          <th></th>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="column">
    <h4 class="ui header">Passengers</h4>
    <div class="ui divider"></div>
    <div class="ui basic segments">
      <a class="ui right corner olive label">
        <i class="pencil icon" (click)="stepService.setStep(3)"></i>
      </a>
      <div class="ui basic segment" *ngFor="let passenger of basketService.passengers$ | async">
        <b>Passenger: </b> <i>{{ passenger.firstName }} {{ passenger.surname }}</i> <br>
        <b>Email: </b> {{ passenger.email }} <br>
        <b>Document: </b> {{ passenger.document }}
      </div>
    </div>
  </div>
  <div class="column">
    <h4 class="ui header">Billing info</h4>
    <div class="ui divider"></div>
    <div class="ui basic segment compact">
      <a class="ui right corner olive label">
        <i class="pencil icon" (click)="stepService.setStep(3)"></i>
      </a>
      <table class="ui very basic table collapsing">
        <thead>
          <tr>
            <td>First Name: </td>
            <td>{{ basketService.billingInfo.firstName }}</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Last Name: </td>
            <td>{{ basketService.billingInfo.lastName }}</td>
          </tr>
          <tr>
            <td>Address: </td>
            <td>{{ basketService.billingInfo.address }}</td>
          </tr>
          <tr>
            <td>State: </td>
            <td>{{ basketService.billingInfo.state }}</td>
          </tr>
          <tr>
            <td>Country: </td>
            <td>{{ basketService.billingInfo.country }}</td>
          </tr>
          <tr>
            <td>Card Type: </td>
            <td>{{ basketService.billingInfo.cardType }}</td>
          </tr>
          <tr>
            <td>Card Number: </td>
            <td>{{ basketService.billingInfo.cardNumber }}</td>
          </tr>
          <tr>
            <td>CVC: </td>
            <td>{{ basketService.billingInfo.CVC }}</td>
          </tr>
          <tr>
            <td>Expiration: </td>
            <td>{{ basketService.billingInfo.expiration }}</td>
          </tr>
          <tr>
            <td>Year: </td>
            <td>{{ basketService.billingInfo.year }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>