<div class="ui basic center aligned inverted attached segment">
  Basket
</div>
<div class="ui one column grid m20">
  <ng-container *ngIf="(basketService.rooms$ | async | purchasedTotal) > 0">
    <div class="column">
      <app-product-table [rooms]="basketService.rooms$ | async"></app-product-table>
    </div>
    <div class="column">
      <button (click)="onProcess()" class="ui right floated button primary massive">Continue</button>
      <div class="ui left floated statistic">
        <div class="label">Total:</div>
        <div class="value">{{ basketService.rooms$ | async | purchasedTotal | currency:'EUR':true }}</div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="(basketService.rooms$ | async | purchasedTotal) == 0">
    <div class="column">
      <h1 class="ui header">Basket is empty</h1>
      <button (click)="onProcess()" class="ui button primary">Keep buying</button>
    </div>
  </ng-container>
</div>