<div class="ui five steps top attached">
  <div class="step" [ngClass]="{ active: stage == 1, completed: stage > 1}">
    <i class="calendar icon"></i>
    <div class="content">
      <div class="title">Dates</div>
      <div class="description">Choose your desired dates</div>
    </div>
  </div>
  <div class="step" [ngClass]="{ active: stage == 2, completed: stage > 2}">
    <i class="hotel icon"></i>
    <div class="content">
      <div class="title">Rooms</div>
      <div class="description">Find the perfect room</div>
    </div>
  </div>
  <div class="step" [ngClass]="{ active: stage == 3, completed: stage > 3}">
    <i class="street view icon"></i>
    <div class="content">
      <div class="title">Details</div>
      <div class="description">About you</div>
    </div>
  </div>
  <div class="step" [ngClass]="{ active: stage == 4, completed: stage > 4}">
    <i class="unhide icon"></i>
    <div class="content">
      <div class="title">Review & Confirmation</div>
      <div class="description">Let's make sure we have everything right</div>
    </div>
  </div>
  <div class="step" [ngClass]="{ active: stage == 5, completed: stage > 5}">
    <i class="send icon"></i>
    <div class="content">
      <div class="title">Bon Voyage!</div>
    </div>
  </div>
</div>