<div class="ui one column padded grid centered">
  <div class="column">
    <div class="ui  segment very padded">
      <div class="ui header">New Passengers</div>
      <div class="ui divider"></div>
      <app-form-new-passanger></app-form-new-passanger>
    </div>
  </div>
  <div class="column" *ngIf="passengers.length > 0">
    <div class="ui  segment very padded">
      <h3 class="ui header">Passengers</h3>
      <div class="ui divider"></div>
      <table class="ui single line table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Expiring date</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let passenger of passengers">
            <td>{{ passenger.firstName }} {{ passenger.surname }}</td>
            <td>{{ passenger.email }}</td>
            <td>{{ passenger.expiringDate | date }}</td>
            <td>
              <div class="ui vertical animated negative button" (click)="removePassenger(passenger)">
                <div class="hidden content">Remove</div>
                <div class="visible content">
                  <i class="trash icon"></i>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="column">
    <div class="ui  segment very padded">
      <app-form-client-info></app-form-client-info>
    </div>
  </div>
</div>