<table class="ui very basic table">
  <thead>
    <tr>
      <th class="">Product</th>
      <th class="center aligned">Price</th>
      <th class="center aligned">Quanity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let room of rooms | purchasedRooms">
      <td class="">
        <img class="ui left floated small image" src="{{ room.image }}">
        <h4 class="ui header">{{ room.name }}
          <div class="sub header">{{ room.description }}</div>
        </h4>
        <a href (click)="onRemove(room)">Remove</a>
      </td>
      <td class="center aligned">{{ room.price | currency:'EUR':true }}</td>
      <td class="center aligned">
        <div class="ui compact selection dropdown" appDropdown [selected]="room.purchased" [item]="room">
          <i class="dropdown icon"></i>
          <div class="text">1</div>
          <div class="menu">
            <div class="item">1</div>
            <div class="item">2</div>
            <div class="item">3</div>
            <div class="item">4</div>
            <div class="item">5</div>
            <div class="item">6</div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>