<div class="ui basic inverted attached segment">
  <div class="ui inverted secondary menu">
    <a class="item" (click)="reStage()" *ngIf="step < 5">
      <i class="large chevron left icon" *ngIf="step > 1"></i>
    </a>
    <div class="item toCenter">
      <ng-container [ngSwitch]="step">
        <p *ngSwitchCase="1">Choose your desired dates!</p>
        <p *ngSwitchCase="2">Find the perfect room!</p>
        <p *ngSwitchCase="3">Please, fill the information about the passenger</p>
        <p *ngSwitchCase="4">Review your data: passengers & billing information</p>
        <p *ngSwitchCase="5">Thank you for choose you!</p>
      </ng-container>
    </div>
    <div class="right menu">
      <a class="item" (click)="avStage()">
        <i class="large chevron right icon" *ngIf="step < 5"></i>
      </a>
    </div>
  </div>
</div>