<app-steps [active]="step"></app-steps>
<app-sub></app-sub>
<ng-container [ngSwitch]="step">
  <app-first-step *ngSwitchCase="1"></app-first-step>
  <app-second-step *ngSwitchCase="2"></app-second-step>
  <app-third-step *ngSwitchCase="3"></app-third-step>
  <app-fourth-step *ngSwitchCase="4"></app-fourth-step>
  <app-fifth-step *ngSwitchCase="5"></app-fifth-step>
</ng-container>