<form [formGroup]="form" (submit)="onSend()" class="ui form">
  <div class="three fields">
    <div class="field required">
      <label>First name</label>
      <input type="text" formControlName="firstName">
    </div>
    <div class="field required">
      <label>Surname</label>
      <input type="text" formControlName="surname">
    </div>
    <div class="field required">
      <label>Gender</label>
      <select class="ui dropdown" #gender formControlName="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
  </div>
  <div class="field required">
    <label>Email</label>
    <input type="email" formControlName="email">
  </div>
  <div class="three fields">
    <div class="field required">
      <label>Document Nº</label>
      <input type="text" formControlName="document">
    </div>
    <div class="field required">
      <label>Issuing Country</label>
      <input type="text" formControlName="issuingCountry">
    </div>
    <div class="field required">
      <label>Expiring date</label>
      <div class="ui calendar" #calendar>
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input type="text" placeholder="Date" formControlName="expiringDate">
        </div>
      </div>
    </div>
  </div>
  <button class="ui submit primary button" [disabled]="!form.valid">New passenger</button>
</form>