<ng-container *ngIf="room">
  <div class="content">
    <i class="right floated meta">{{ room.price }}€</i>
    <div class="header">{{ room.name }}</div>
    <div class="description">{{ room.description }}</div>
  </div>
  <div class="image">
    <img src="{{ room.image }}">
  </div>
  <div *ngIf="room.isAvailable()" class="ui bottom attached positive basic button" (click)="bookNow()">Book now! (Available: {{ room.quantity - room.purchased}})</div>
  <div *ngIf="!room.isAvailable()" class="ui bottom attached negative basic button disabled">No room available</div>
</ng-container>