<div class="ui borderless top fixed inverted menu">
  <div class="item">
    {{ basketService.hotelName | async }}
  </div>
  <div class="item">
    <i class="star icon" *ngFor="let star of basketService.hotelStars | async"></i>
  </div>
  <div class="right menu">
    <!--<div class="ui dropdown item" #dropdown>
      {{ language }} <i class="dropdown icon"></i>
      <div class="menu">
        <div class="header">Languages</div>
        <a class="item">ES</a>
        <a class="item">EN</a>
      </div>
    </div>-->
    <a class="item" routerLink="/basket">
      <i class="large shop icon"></i>
    </a>
  </div>
</div>