<div class="ui one column padded grid centered">
  <div class="column">
    <div class="ui piled segment center aligned very padded ">
      Thanks you Mr. {{ basketService.billingInfo.firstName }}. You can track your hotel reservation <a href="#">here</a>
      <br> See you soon!
    </div>
  </div>
</div>