<div class="ui internally celled padded grid">
  <div class="center aligned sixteen wide column">
    <div class="ui grid">

      <div class="eight wide column">

        <div class="ui raised piled segment" [ngClass]="{ 'yellow': departure == undefined }">

          <h2 class="ui header">
            Departure: {{ departure | date }}
          </h2>

          <div class="ui warning message" *ngIf="departure == undefined">
              Please, fill the arrival date!
          </div>

          <div class="ui calendar" #startCalendar></div>

        </div>

      </div>

      <div class="eight wide column">
        <div class="ui raised piled segment" [ngClass]="{ 'yellow': arrival == undefined }">
          <h2 class="ui header">
            Arrival: {{ arrival | date }}
          </h2>

          <div class="ui warning message" *ngIf="arrival == undefined">
              Please, fill the arrival date!
          </div>

          <!--calendar-->
          <div class="ui calendar" #endCalendar></div>

        </div>
      </div>

    </div>
  </div>
</div>